.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  text-decoration: none;
}

.list a:hover,
.list a.active {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}